@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');

:root {

    /*FONT SIZE*/

    --font-size-extra-x-small: .25rem; 
    --font-size-extra-small: .75rem; 
    --font-size-super-small-em: .8em;
    --font-size-super-small: .8rem;
    --font-size-small: .9rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-big: 2.5rem;

    /*FONT WEIGHT*/

    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-600: 600;

    /*LETTER SPACING*/

    --letter-spacing-x-small: 1px;
    --letter-spacing-small: 1.5px;
    --letter-spacing-normal: 2px;
    --letter-spacing-big: 4px;
    ---letter-spacing-em: .08em;

    /*LINE HEIGHT*/
    
    --line-height-x-small: 1;
    --line-height-small: 1.15;
    --line-height-normal: 1.2;
    --line-height-medium: 1.5;
    --line-height-big: 1.8;

    /*COLORS*/

    --blue: #1a2456;
    --pink: #efc2b3;
    --red: #ff8d6b;
    --orange: #ff8d6b;
    --yellow: #f5b335;
    --white: #fff;
    --primary: #1a2456;
    --secondary: #efc2b3;
    --warning: #f5b335;
    --danger: #ff8d6b;
    --light: #efc2b3;
    --dark: #1a2456;
    --black: #212529;

}

/*CUSTOM CLASSES*/

.img-holder {
    width: 100%;
    height: auto;
}

.img-holder img, svg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* .container {
    max-width: 1140px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container-fluid {
    width: 100%;   
} */

.flex {
    display: flex;
    align-items: center;
}


ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

i:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

/*dropdown style*/

.dropdown-holder {
    position: relative;
}

.dropdown-holder:hover .dropdown-button > * {
    color: #d9d9d9 ;
}

.item-list {

    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    background-color: var(--white);
    width: 220px;
    padding: 10px 0px;
}


.currency-dropdown {
    left: -45px;
    width: 100px;
}

.item-list ul {

    display: block;
    margin: 0;
}

.item-list ul li {
    margin: 0px !important;
    width: 100%;
}

.item-list li:hover {
    background-color: #d9d9d9;
}

.item-list ul li a{

    color: var(--black);
    text-transform: uppercase;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);
    letter-spacing: var(--letter-spacing-normal);

    margin: 0 30px;

}

/*event classes*/

.show {
    display: block !important;
    transform: translateX(0px) !important;
}

.active {
    background-color: var(--blue);
}

.active a {
    color: #fff !important;
}

.active:hover {
    background-color: var(--blue) !important;
}

.focus > *{
    color: #fff !important;
}

.dropdown-holder:hover .focus > * {
    color: #fff !important;
}




/*basic conf*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;

    font-family: 'Prompt', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0efed;
}


/*NAVIGATION*/

.navigation-wrapper{
    width: 100%;
    position: fixed;
    padding: 15px;
    z-index: 1000;
}

.navigation {
    background-color: var(--blue);
    height: 55px;

    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}


.navigation p, a {
    color: var(--light);
    text-transform: uppercase;
    /* margin-left: 30px; */
    font-size: var(--font-size-super-small);
    font-weight: var(--font-weight-400);
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-medium);
}

.nav-wrapper ul li {
    margin-left: 30px;
}

/* .nav-wrapper ul li:hover a{
    color: var(--orange);
} */



/*svg navigation*/
.arrow-svg:hover {
    cursor: pointer;
}

.arrow-svg i {
    font-size: 7px;
    margin-left: 5px;
}

.shop-container {
    justify-content: center;
}

.shop-container i:first-child {
    font-size: 30px;
    margin-left: 30px;
}


#currency {
    margin-left: 10px;
}

.menu-holder  {
    display: none;
    height: 30px;
}

.menu-holder:hover {
    cursor: pointer;
}

.menu-holder i {
    font-size: 35px;
}

#filter {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: 0.2s;

}

.filter_show {
    opacity: 0.5 !important;
    z-index: 5 !important;
}

#close-btn {
    display: none;
}

.logo-mobile {
    display: none;
}

.logo{
    cursor: pointer;
}

.logo:hover p{
    color: var(--orange) !important;
}


/*shop holder style*/

.shop-menu-holder {

    display: flex;
    flex-direction: column;

    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #fff;
    width: 350px;
    height: 100%;

    text-transform: uppercase !important;

    transform: translateX(100%);

    transition: 0.2s;

    z-index: 1000;

}

/*head shop*/
.head-shop-holder {
    background-color: var(--blue);
    width: 100%;
    height: 80px;
    color: #fff;
}

.head-shop-holder button {

    display: flex;
    align-items: center;

    color: inherit;
    background-color: transparent;
    border: none;

    text-transform: uppercase;

    letter-spacing: var(--letter-spacing-em);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-medium);
    font-size: var(--font-size-small);
}  

.head-shop-holder button i{
    font-size: 35px;
}  


/*mid shop*/
.mid-shop-holder {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

}

.mid-shop-holder h2 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);

    color: var(--blue);

    margin-top: 90px;
}

.mid-shop-holder p {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);
    color: #6c757d !important;
    text-transform: none;

    width: 280px;
    text-align: center;

    margin-top: 10px;
}

.mid-shop-holder p b {
    color: var(--red);
}

.info-shop-holder {
    margin-top: 50px;
    width: 100%;
}

.info-shop-holder div {
    justify-content: center;
}

.info-shop-holder i {
    font-size: 80px;
}

.info-shop-more {
    width: 65%;
    margin-left: 10px;
}

.info-shop-more h3 {

    letter-spacing: var(--letter-spacing-small);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-normal);
    color: var(--blue);
}

.info-shop-more p {
    font-size: .7rem;
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);
    color: var(--blue) !important;
    text-transform: none;

    width: 100%;

    text-align: left;
}


.payments-shop-holder {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.payments-shop-holder P {
    font-size: 70%;
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);
    width: 100%;
    text-align: center;
}

.payments-shop-holder div {
    justify-content: center;
}

.payments-shop-holder div img{
    margin-left: 10px;
}

/*bottom shop*/
.bottom-shop-holder {
    width: 100%;
    background-color: var(--blue);
    
}

.bottom-shop-holder .price-holder {

    color: #fff;
    justify-content: space-between;

    padding: 20px;
}

.bottom-shop-holder .price-holder p, h3{
    color: #fff;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-normal);

}

.button-input-holder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.button-input-holder button {
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    width: 90%;
    border-color: var(--pink);
    background-color: var(--pink);
    text-transform: uppercase;

    font-size: .9rem;
    line-height: 1.8;
    letter-spacing: var(--letter-spacing-normal);

    display: block;
}

.button-input-holder input {
    display: none;

    border-radius: 20px;
    border: none !important;
    padding: 10px;
    width: 90%;
    background-color: var(--white);  
}

.button-input-holder input::placeholder {
    color: #9d9c9c;
    font-weight: var(--font-weight-300)
}

.button-input-holder input:focus-visible {
    outline: none;
}

.link-button-holder {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.link-button-holder a {

    font-weight: var(--font-weight-300);
    font-size: var(--font-size-extra-small);
    letter-spacing: var(--letter-spacing-x-small);
    line-height: var(--line-height-medium);
    text-transform: uppercase;
}

.link-button-holder a:hover {
    text-decoration: underline;
    color: red;
}

.link-button-holder a {
    display: block;

    color: var(--orange);

}

.link-button-holder div {
    display: none;
}


.link-button-holder div a:last-child {
    color: #868686;
    margin-left: 20px;

}


.show_menu {
    transform: translateX(0px) !important;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/*MAIN SECTION*/

.main-section {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/main-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

    color: #fff;
}

.bg-filter {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.main-section  .main-info {
    position: absolute;

    width: 500px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-section  .main-info h1 {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-600);
    letter-spacing: var(--letter-spacing-big);
    line-height: var(--line-height-normal);

    color: var(--light);

    text-transform: uppercase;
    
}

.main-section  .main-info p {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);

    color: var(--light);

}


.down-arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.down-arrow .bxs-chevron-down {
    font-size: 50px;
    color: #fff;
}

/*ITEM SECTION*/

.items-holder{
    
    width: 1200px;
    margin: 50px auto;
    flex-wrap: wrap;

    color: var(--blue);

    justify-content: space-between;

}

.card {
    width: 48%;
    margin: 10px 5px;
    
}

/*card img*/

.card .card-image-holder {
    width: 100%;
    height: 400px;
    position: relative;
}

.card-image-holder img {

    width: 100%;
    object-fit: cover;
    height: 100%;

}

.card-image-holder div {
    position: absolute;
    background-color: var(--danger);
    top: 20px;
    right: 0px;
    color: #000;
    padding: 2px 15px;
}

.card-image-holder div span {
    font-weight: var(--font-weight-600);
    text-transform: uppercase;
    line-height: var(--line-height-x-small);
    letter-spacing: var(--letter-spacing-x-small);
    font-size: 13px;
}

.main-img { 
    opacity: 1;
    transition: opacity 2s;
}

.replace-img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .2s;
}

.hover-img {
    opacity: 1 !important;
}
/* .card-image-holder:hover {
    cursor: pointer;
}

.card-image-holder:hover .replace-img {
    opacity: 1;
} */

/*card info*/

.card-info-holder {
    margin-top: 5px;
}

.card-info-price-holder {
    justify-content: space-between;
}

.card-info-price-holder > * {
    color: var(--blue);
}

.card-info-price-holder h3 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-normal);
    text-transform: uppercase;
}

.card-info-price-holder div {
    position: relative;
}

.card-info-price-holder div p {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);
}

.card-info-price-holder div .shop-card-btn {
    opacity: 0;
    transition: opacity .2s;
    border: none;
    border-radius: 20px;
    background-color: var(--blue);
    color: #fff;
    width: 120px;
    height: 30px;
    text-transform: uppercase;

    letter-spacing: var(--letter-spacing-x-small);
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-medium);
    font-weight: var(--font-weight-600);

    position: absolute;
    top: 0px;
    right: 0px;
}

.hover-btn {
    opacity: 1 !important;
}


.card-info-holder p {
    display: block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);
}

.hover-info h3{
    color: #000;
    cursor: pointer;
}

.hover-info p{
    color: #000;
    cursor: pointer;
}

/* .card-info-holder:hover h3{
    cursor: pointer;

    color: #000 !important;
}
.card-info-holder:hover p{
    color: #000;
    cursor: pointer;
}

.card-info-holder:hover .shop-card-btn {
    opacity: 1;
} */

/*FULL IMG SECTION*/

.full-img-section {

    color: var(--blue);

    background-image: url('./assets/pc.jpg');
    background-size: cover;

    height: 500px;

    padding-top: 40px;

}

.full-img-section div {
    width: fit-content;
    margin: 0px auto;

    text-align: center;
}

.full-img-section div h2 {
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-big);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-big);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.full-img-section div p {

    font-weight: var(--font-weight-300);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}


/*small-items*/

.card-small {
    width: 360px;
}

/*FOOTER*/

.footer-holder {
    width: 100%;
    height: 280px;
    background: var(--blue);
    color: var(--light);
    justify-content: space-around;
    /* align-items: top; */

}

.footer-item {
    height: 200px;
}

.footer-item p {
    font-size: var(--font-size-super-small-em);
    font-weight: var(--font-weight-600);
    letter-spacing: var( --letter-spacing-x-small);
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-item ul li a {
    font-size: var(--font-size-small);
    font-weight:var(--font-weight-300);
    line-height: var(--line-height-medium);
    letter-spacing: normal;

    text-transform: capitalize;
}

.footer-item address {
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight:var(--font-weight-300);
    line-height: var(--line-height-medium);
    letter-spacing: normal;

    text-transform: capitalize;
}

.footer-item ul {
    display: block;

}

.sub-item {
    width: 400px;
}

.sub-item p:first-child {
    font-size: var(--font-size-super-small-em);
    font-weight: var(--font-weight-600);
    letter-spacing: var( --letter-spacing-x-small);
    text-transform: uppercase;

    margin-bottom: 20px;
}

.sub-item p{

    font-size: var(--font-size-small);
    font-weight:var(--font-weight-300);
    line-height: var(--line-height-medium);

    text-transform: none;

}

.sub-item form input {
    border: 1px solid var(--light);
    background-color: transparent;
    color: var(--light);
    font-weight: 300;
    padding: 2px 5px;

}

.sub-item form input::placeholder {
    color: #fff;
    font-size: 12px;
}

.sub-item form input:focus-visible {
    outline: 0;
}


.sub-item form button {

   background-color: var(--pink);
   color: #212529;
   border: none;
   border-radius: 20px;
   padding: 7px 20px;
   margin-left: 20px;
   opacity: .65;

   font-size: var(--font-size-extra-small);
   font-weight: var(--font-weight-600);
   letter-spacing: var(--letter-spacing-x-small);

   text-transform: uppercase;

}

.sub-item .item-icons div{

    background-color: var(--light);
    margin-right: 10px;
    border-radius: 100%;
    position: relative;

    width: 35px;
    height: 35px;

    margin: 10px 10px 10px 0px;

}

.sub-item .item-icons div i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--blue);
}

/*query*/

@media(max-width:1200px) {

    .items-holder{
        width: 980px;
    }
    
    .card {
        width: 48%;
    }

    .card .card-image-holder {
        height: 300px ;
    }
        

}

@media (max-width: 991px) {

    .main-section {
        height: 50vh;
    }

    .items-holder{
        width: 740px;
    }

    .card .card-image-holder {
        height: 250px ;
    }

    /*navigatio query*/

    #close-btn {
        display: block;
    }

    .mobile-logo-holder {
        justify-content: space-between;    
    }

    .mobile-logo-holder i {
        font-size: 40px;

    }
    

    .logo-mobile {
        display: block;
    }

    .logo-mobile p {
        font-size: var(--font-size-normal);
    }

    /* .filter {
        display: block;
    } */

    .nav-item {
        
        transition: 0.2s;
        width: 350px;
        display: block;
        position: absolute;
        z-index: 10;
        left: 0px;
        top: 0px;
        background-color: var(--blue);
        height: 100vh;

        transform: translateX(-100%);

        padding: 10px;
    }

    .nav-item ul {
        display: block;
        margin-top: 20px;
    }

    .nav-item ul li {
        padding: 15px 0px;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .nav-item ul li a {
        font-size: var(--font-size-normal);
        
    }

    .nav-item .dropdown-holder {
        display: block;
    }

    .nav-item .item-list {
        position: static;
        background-color: transparent;
        width: 100%;
        padding: 10px 0px 10px 30px;
    }

    .nav-item .item a:hover {
        color: var(--orange);
    }

    .nav-item .item a {
        color: var(--light)
    }

    .item-list{

        display: block ;
    }

    .currency-dropdown {
        display: none ;
    }

    .item-list ul {
        margin-top: 0;
    }

    .item-list li a {
        margin: 0 !important;
    }

    .arrow-workflow {
        display: none !important;
    }

    .nav-item .item-list li:hover {
        background-color: transparent;
    }


    .dropdown-holder {
        border-bottom: none !important;
        padding-bottom: 0 !important;
    }

    .dropdown-button a {
        color: var(--light) !important;
    }

    .dropdown-button a:hover {
        color: var(--orange) !important;
    }

    .dropdown-holder:hover .focus > * {
        color: var(--light) !important;
    }

    .menu-holder {
        display: block;
    }

    .bx-shopping-bag {
        margin-left: 10px !important;
    }

    /*full image-section*/

    .full-img-section {
    
        height: 300px;
        
    }

    /*footer*/


    .footer-holder {
        flex-wrap: wrap;
        height: fit-content;
        padding-top: 40px;

        justify-content: flex-start;

        padding-left: 20px;

    }

    .footer-item  {
        margin-right: 20%;
        width: 100px;
    }

    .address-item {
        order: 1;
        
    }

    .quick-item {
        order: 3;
        margin-top: 80px;
        
    }

    .help-item {
        order: 4;
        margin-top: 80px;
    }

    .info-item {
        order: 5;
        margin-top: 80px;
    }

    .sub-item {
        order: 2;
        width: 300px;
    }
}


@media (max-width: 768px) {

    .main-section {
        height: 80vh;
    }

    .items-holder{
        width: 100%;
        justify-content: center;
    }

    .card {
        width: 450px;
    }

    .card .card-image-holder {
        height: 300px ;
    }

    /*FOOTER*/

    /* .sub-item {
        width: 60%;
    } */

    .footer-item  {
        margin-right: 14%;
        width: 100px;
    }

    .sub-item {
        order: 2;
        width: 230px;
    }


}

@media (max-width: 576px) {

    .main-info {
        width: 90% !important;
    }

    .card {
        width: 90%;
    }

    /*FOOTER*/

    .footer-item  {
        margin-right: 5%;
        width: 40%;
    }

     .address-item {
        order: 2;
        width: 40%;
        margin-top: 80px;
        
    }

    .sub-item {
        width: 90%;
        order: 1;
    }

}
