@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');

:root {

    /*FONT SIZE*/

    --font-size-extra-x-small: .25rem; 
    --font-size-extra-small: .75rem; 
    --font-size-super-small-em: .8em;
    --font-size-super-small: .8rem;
    --font-size-small: .9rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-big: 2.5rem;

    /*FONT WEIGHT*/

    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-600: 600;

    /*LETTER SPACING*/

    --letter-spacing-x-small: 1px;
    --letter-spacing-small: 1.5px;
    --letter-spacing-normal: 2px;
    --letter-spacing-big: 4px;
    ---letter-spacing-em: .08em;

    /*LINE HEIGHT*/
    
    --line-height-x-small: 1;
    --line-height-small: 1.15;
    --line-height-normal: 1.2;
    --line-height-medium: 1.5;
    --line-height-big: 1.8;

    /*COLORS*/

    --blue: #1a2456;
    --pink: #efc2b3;
    --red: #ff8d6b;
    --orange: #ff8d6b;
    --yellow: #f5b335;
    --white: #fff;
    --primary: #1a2456;
    --secondary: #efc2b3;
    --warning: #f5b335;
    --danger: #ff8d6b;
    --light: #efc2b3;
    --dark: #1a2456;
    --black: #212529;

}

/*CUSTOM CLASSES*/

.img-holder {
    width: 100%;
    height: auto;
}

.img-holder img, svg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 1140px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container-fluid {
    width: 100%;   
}

.flex {
    display: flex;
    align-items: center;
}


ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/*dropdown style*/

.dropdown-holder {
    position: relative;
}

.dropdown-holder:hover .dropdown-button > * {
    color: #d9d9d9 !important;
}

.item-list {

    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    background-color: var(--white);
    width: 220px;
    padding: 10px 0px;
}


.currency-dropdown {
    left: -45px;
    width: 100px;
}

.item-list ul {

    display: block;
    margin: 0;
}

.item-list ul li {
    margin: 0px !important;
    width: 100%;
}

.item-list li:hover {
    background-color: #d9d9d9;
}

.item-list ul li a{

    color: var(--black);
    text-transform: uppercase;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-300);
    line-height: var(--line-height-medium);
    letter-spacing: var(--letter-spacing-normal);

    margin: 0 30px;

}

/*event classes*/

.dropDown_show {
    display: block;
}

.active {
    background-color: var(--blue);
}

.active a {
    color: #fff !important;
}

.active:hover {
    background-color: var(--blue) !important;
}

.focus > *{
    color: #fff !important;
}

.dropdown-holder:hover .focus > * {
    color: #fff !important;
}


/*basic conf*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;

    font-family: 'Prompt', sans-serif;

}

body {
    background-color: #f0efed;
}


/*NAVIGATION*/

.navigation-wrapper{
    width: 100%;
    padding: 15px;
}

.navigation {
    background-color: var(--blue);
    height: 55px;

    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}


.navigation p, a {
    color: var(--light);
    text-transform: uppercase;
    /* margin-left: 30px; */
    font-size: var(--font-size-super-small);
    font-weight: var(--font-weight-400);
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-medium);
}

.nav-wrapper ul li {
    margin-left: 30px;
}

/*svg navigation*/
.arrow-svg:hover {
    cursor: pointer;
}

.arrow-svg i {
    font-size: 7px;
    margin-left: 5px;
}

.shop-container {
    justify-content: center;
}

.shop-container i:first-child {
    font-size: 30px;
    margin-left: 30px;
}

.shop-container i:first-child:hover {
    cursor: pointer;
}

#currency {
    margin-left: 10px;
}

/**/
