@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');

:root {

    /*FONT SIZE*/

    --font-size-extra-x-small: .25rem; 
    --font-size-extra-small: .75rem; 
    --font-size-super-small-em: .8em;
    --font-size-super-small: .8rem;
    --font-size-small: .9rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-big: 2.5rem;

    /*FONT WEIGHT*/

    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-600: 600;

    /*LETTER SPACING*/

    --letter-spacing-x-small: 1px;
    --letter-spacing-small: 1.5px;
    --letter-spacing-normal: 2px;
    --letter-spacing-big: 4px;
    ---letter-spacing-em: .08em;

    /*LINE HEIGHT*/
    
    --line-height-x-small: 1;
    --line-height-small: 1.15;
    --line-height-normal: 1.2;
    --line-height-medium: 1.5;
    --line-height-big: 1.8;

    /*COLORS*/

    --blue: #1a2456;
    --pink: #efc2b3;
    --red: #ff8d6b;
    --orange: #ff8d6b;
    --yellow: #f5b335;
    --white: #fff;
    --primary: #1a2456;
    --secondary: #efc2b3;
    --warning: #f5b335;
    --danger: #ff8d6b;
    --light: #efc2b3;
    --dark: #1a2456;

}

/*CUSTOM CLASSES*/

.img-holder {
    width: 100%;
    height: 100%;
}

.img-holder img, svg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 1140px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container-fluid {
    width: 100%;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;

    font-family: 'Prompt', sans-serif;
}


